* {
  margin: 0;
  box-sizing: border-box;
}
.main-nav {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}
.nav-links a {
  text-decoration: none;
  color: white;
  overflow: hidden;
}
.nav-links a:hover {
  background: linear-gradient(
    90deg,
    rgba(47, 179, 131, 1) 0%,
    rgba(24, 168, 107, 1) 39%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: white;
  flex-direction: row;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 2rem;
  grid-gap: 10rem;
  text-transform: uppercase;
}
.burger {
  display: none;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}
.line {
  height: 2 px;
  width: 35px;
  margin: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(47, 179, 131, 1) 0%,
    rgba(24, 168, 107, 1) 50%
  );
  transition: transform 0.75s ease, opacity 0.75s ease;
}
.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}
.port-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin: 5rem 5rem 5rem 5rem;
}

.index-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4rem;
  margin: 5rem 5rem 5rem 5rem;
}

.home-text {
  align-self: center;
  justify-self: center;
}
button {
  border: solid 1px white;
  background: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  float: left;
}
body {
  background: linear-gradient(
    45deg,
    rgba(242, 142, 38, 1) 0%,
    rgba(253, 100, 79, 1) 50%
  );
  background-repeat: repeat;
  object-fit: cover;
}
section {
  border: solid 1px white;
  border-radius: 50px;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.homeheading {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.portheading {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  padding-top: 10rem;
}
h2 {
  color: white;
  padding-top: 2rem;
  text-align: left;
}
h3 {
  text-align: center;
  color: white;
  font-size: 1.2em;
}
p {
  color: white;
  text-align: left;
  font-size: 1.25rem;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.active {
  background: linear-gradient(
    90deg,
    rgba(47, 179, 131, 1) 0%,
    rgba(24, 168, 107, 1) 39%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li {
  text-decoration: none;
}

footer {
  background-color: #333;
  text-align: center;
  font-size: 1rem;
}
body {
  margin: 0;
  padding: 0;
}
i {
  font-size: 5rem;
  color: white;
}
.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5rem 5rem 5rem 5rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 350px;
  height: 300px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: linear-gradient(
    45deg,
    rgba(242, 142, 38, 1) 0%,
    rgba(253, 100, 79, 1) 39%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(200px);
}

.container .card:hover .face.face1 {
  background: linear-gradient(
    45deg,
    rgba(242, 142, 38, 1) 0%,
    rgba(253, 100, 79, 1) 39%
  );
  transform: translateY(0);
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .port-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin: 5rem 5rem 5rem 5rem;
  }
  .index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-links {
    justify-content: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5rem 5rem 5rem 5rem;
  }
  .container .card {
    position: relative;
    cursor: pointer;
  }
  .card {
    align-self: center;
    justify-self: center;
  }
  .container .card .face {
    width: 350px;
    height: 300px;
    transition: 0.5s;
  }

  .container .card .face.face1 {
    position: relative;
    background: linear-gradient(
      45deg,
      rgba(242, 142, 38, 1) 0%,
      rgba(253, 100, 79, 1) 39%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
  }

  .container .card:hover .face.face1 {
    background: linear-gradient(
      45deg,
      rgba(242, 142, 38, 1) 0%,
      rgba(243, 100, 79, 1) 39%
    );
    transform: translateY(0);
  }

  .container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
  }

  .container .card:hover .face.face1 .content {
    opacity: 1;
  }

  .container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

  .container .card .face.face2 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
  }

  .container .card:hover .face.face2 {
    transform: translateY(0);
  }

  .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .port-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin: 5rem 5rem 5rem 5rem;
  }
  .index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .portheading {
    font-size: 3rem;
  }
  .homeheading {
    font-size: 3rem;
  }
  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(
      45deg,
      rgba(242, 142, 38, 1) 0%,
      rgba(243, 100, 79, 1) 39%
    );
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  .burgericon {
    background-image: url(img/hamburger.png);
    width: 30px;
    height: 4.6vh;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px;
    margin-top: 10px;
    display: block;
  }
  .closeicon {
    background-image: url(img/x.png);
    width: 7vw;
    height: 5.4vh;
    z-index: 5;
    background-size: 100%;
    margin-right: 15px;
    margin-top: 10px;
    background-repeat: no-repeat;
  }
}
